/* import fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&family=Montserrat:wght@700&display=swap');


:root {
	/* Colors */
  --darkblue: #1f2937;
  --white: #f9faf8;
  --lightblue: #3882f6;
  --grey: #e5e7eb;

  /* Font sizes */
  --regular-font: 18px;
  --large-font: 24px;
  --larger-font: 36px;
  --title-font: 47px;

  /* Font family */
  --main-font: 'Inter';
  --hdr-font: 'Montserrat';

  /*Margins and paddings*/
  --base-padding: 10px;
  --base-gap: 2em;
  --column-padding: 100px 30px; /*info-column,signup-column*/
  --hero-padding: 100px var(--base-padding);
  --quote-padding: 4em 5em;
  --quote-gap: 1em;
  --banner-padding: 50px;
  --main-gap: 0.5em;

  /* Maximum column width */
  --col-width: 250px;
}

html {
	background-color: var(--white); /*#fafafa; */
	color:  var(--grey);
	font-family: var(--main-font), sans-serif;
	/*font-size: 100%;*/
	font-weight: 400;
	line-height: 1.2;
}

* { 
 	font-family: inherit;
	line-height: inherit;
	color: inherit;
	box-sizing: border-box;
	padding:  0;
	margin: 0;
}

body{
	margin:  0 auto;
	min-height: 100vh; /*it is assumed the same for <html>*/
	width: 100%; /* or max-width -- this avoids horizontal scroll bars */
}

/*******************************/

/* Body ---------------------------------- */
body{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: stretch;
}

section
{
	width: 100%;
}

.content-column{
	max-width: 1000px;
	width: 100%;
	margin: 0 auto;
}


.logo, 
h1,
h2,
.info-column strong{
	font-family: var(--hdr-font);
}

/* Header / Footer ----------------------- */
header,footer{
	background-color: var(--darkblue);
}

header nav, footer{
	padding: var(--base-padding);
}

footer{
	text-align: center;
}


/* Nav and Hero*/

header nav ul{
	display: flex;
	justify-content: space-between;
	align-items: baseline;
	list-style: none;
	gap: var(--base-gap);
}

header nav ul,
.hero-column,
footer
{
	color: var(--grey);
	font-size: var(--regular-font);
}

header nav .logo{
	/* Push the logo on the right*/
	margin-right: auto;
	font-variant: small-caps;
	/* This overrides the nav text color */
	color: var(--white);
	font-size: var(--large-font);
}


.hero-column{
	display: flex;
	justify-content: space-between;
	padding: 	var(--hero-padding);
	gap: var(--base-gap);
}

.hero-column h1{
	color: var(--white);
	font-size: var(--title-font);
	font-weight: bold;
}

.hero-column button{
	background-color: var(--lightblue);
	border: 2px solid var(--dark-blue);
	text-align: center;
	color: var(--white);
	font-size: var(--regular-font);
}

.hero-txt,
.hero-img{
  flex: 1;
}

.hero-txt{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: var(--main-gap);
}

.hero-txt p{
	margin-bottom: auto;
}

.hero-img img{
  max-width: 100%;
  width: 100%;
  max-height: 100%;
  height: 100%; 
  object-fit: cover;
  border: 4px solid var(--white);
}

/* TODO: fix img height */


/* Main ---------------------------------- */
main {
	/* Push the header and footer to the top/bottom */
	flex-grow: 1;
	/* Apply flex to its elements, to better distribute content */
	display: flex;
	flex-direction: column;
	/*justify-content: space-around;*/
	align-items: center;
}

.info{
	flex: 2;
}
.signup{
	flex: 1;
	/*Center the elements within*/
	display: flex;
	justify-content: center;
	align-items: center;
}
/* do not expand quote section */

.info-column,
.signup-column{
	padding: 	var(--column-padding);
}

/* Info */

.info{
	text-align:  center;
}

.info-column h2{
	color: var(--darkblue);
	font-size: var(--larger-font);
	font-weight: bold;
	padding-bottom: var(--base-gap);
}

.info-column ul{
	display: flex;
	justify-content: center;
	color: var(--darkblue);
	font-size: var(--regular-font);
	gap: var(--base-gap);
}

.info-column strong{
	font-variant: small-caps;
	color: var(--darkblue);
	font-size: var(--large-font);
	padding-top: var(--main-gap);
	padding-bottom: var(--main-gap);
}

.info-column li{
	flex: 1;
	display: flex;
	align-items: center;
	flex-direction: column;
	max-width: var(--col-width);	
  width: var(--col-width);
}

.info-column img{
  width: 100%;
  aspect-ratio: 1;
  object-fit: cover;
  border-radius: 18px;
}

/* Quote */

.quote{
	background-color: var(--grey);
}

.quote-column{
	padding: var(--quote-padding);
}

.quote-column blockquote{
	color: var(--darkblue);
	font-size: var(--larger-font);
	font-weight: 300;
	font-style: italic;
}

.quote-column .author{
	padding-top: var(--quote-gap);
	color: var(--darkblue);
	text-align: right;
	font-size: var(--large-font);
	font-weight: bold;
}

/* Signup */

.signup-banner{
	display: flex;
	justify-content: space-around;
	align-items: center;
	background-color: var(--lightblue);
	color: var(--white);
	font-size: var(--regular-font);
	padding: var(--banner-padding);
	gap: var(--main-gap);
}

.signup-banner h2{
	font-size: var(--large-font);
	color: var(--white);
}

.signup-banner p{
	padding-top: var(--main-gap);
	color: var(--grey);
}

.signup-banner button{
	background-color: var(--lightblue);
	color: var(--white);
	font-size: var(--large-font);
	border: 2px solid var(--white);
}

button, /*all buttons*/
.signup-banner{
	border-radius: 8px;
}

button{
	padding: var(--base-padding);
	text-wrap: nowrap;
}
